<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
</head>
<body>
  <main>
    {{ content }}
  </main>

  <footer style="text-align:center; padding:20px; font-size:0.9em;">
  <p>© 2026 Vinay Damodar Bhagat</p>
  </footer>

</body>
</html>
